<div id="body" [ngSwitch]="type">
  <div class="container" *ngSwitchCase="'animal'">
    <app-card
      *ngFor="let item of animals"
      [animalItem]="item"
      [type]="type"
      (cardHoverFinished)="handleHoverFinished()"
      (cardOnHover)="handleHovered($event)"
    >
    </app-card>
  </div>
  <div class="container" *ngSwitchCase="'fruit_veg'">
    <app-card
      *ngFor="let item of fruits_vegs"
      [fruit_vegItem]="item"
      [type]="type"
      (cardHoverFinished)="handleHoverFinished()"
      (cardOnHover)="handleHovered($event)"
    >
    </app-card>
  </div>
</div>
