.header-container{
  height: 60px;
  border-bottom: 1px solid black;
display: flex;
align-items: center;
position: relative;
}

.header-container__div-icon{
  margin-left: 5%;
  cursor: pointer;
}

.header__div-menu{
  display: none;
  position: absolute;
  left: 90%;

}

.header__div-menu--open{
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
   right: -151px;
  width: 150px;
display: flex;
flex-direction: column;
background-color: white;
transition-duration: 1s;
}

.header__div-menu--open > button{
  margin-top: 70px;
}


.header__div-menu__icon{
  height: 68px;
  border-bottom: 1px solid black;
  display: flex;
align-items: center;
}

.header__div-menu__icon > div {
  transform: scale(1.3);
  cursor: pointer;
}

button{
  border: none;
  background-color: white;
  margin-left: 15px;
  font-size: 1.2rem;
cursor: pointer;
}

button:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.show:after {
  width: 100%;
  background: blue;
}

@media screen and (max-width: 610px) {
.header__div-buttons{
  display: none;
}

.header__div-menu{
display: block;
}


}
