<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<div id="header" class="header-container">
  <div (click)="btnClicked('animal')" class="header-container__div-icon">
    <span class="material-symbols-outlined"> photo_library </span>
  </div>
  <div class="header__div-buttons">
    <button
      class="glow-on-hover"
      (click)="btnClicked('animal')"
      [ngClass]="type == 'animal' ? 'show' : ''"
      [style.color]="type == 'animal' ? 'darkorchid' : 'dimgrey'"
    >
      ANIMALS
    </button>
    <button
      class="glow-on-hover"
      (click)="btnClicked('fruit_veg')"
      [ngClass]="type == 'fruit_veg' ? 'show' : ''"
      [style.color]="type == 'fruit_veg' ? 'darkorchid' : 'dimgrey'"
    >
      FRUIT & VEG
    </button>

    <button
      [style.color]="'dimgrey'"
      class="glow-on-hover"
      (click)="navigateToUI()"
    >
      UI
    </button>
  </div>
  <div class="header__div-menu" (click)="menuIconClicked()">
    <span class="material-symbols-outlined"> menu </span>
  </div>
  <div id="side_menu" class="header__div-menu--open">
    <div class="header__div-menu__icon">
      <div (click)="navigateIconClicked()">
        <span class="material-symbols-outlined"> navigate_next </span>
      </div>
    </div>
    <button
      class="glow-on-hover"
      (click)="btnClicked('animal')"
      [ngClass]="type == 'animal' ? 'show' : ''"
      [style.color]="type == 'animal' ? 'darkorchid' : 'dimgrey'"
    >
      ANIMALS
    </button>
    <button
      class="glow-on-hover"
      (click)="btnClicked('fruit_veg')"
      [ngClass]="type == 'fruit_veg' ? 'show' : ''"
      [style.color]="type == 'fruit_veg' ? 'darkorchid' : 'dimgrey'"
    >
      FRUIT & VEG
    </button>
    <button
      [style.color]="'dimgrey'"
      class="glow-on-hover"
      (click)="navigateToUI()"
    >
      UI
    </button>
  </div>
</div>
