<div [ngSwitch]="type">
  <div class="card" *ngSwitchCase="'animal'" [attr.id]="animalItem.Id"
 (mouseleave)="hoveredFinished()" (mouseover)="hovered(animalItem.Id)"
 [style.background-image]="'url(' + animalItem.ImageURLs.FullSize + ')'">
  <div class="card__div-content">
    <p>{{animalItem.Title}}</p>
    <p>Family: {{animalItem.Family}}</p>
  </div>
</div>
<div class="card" *ngSwitchCase="'fruit_veg'"  [attr.id]="fruit_vegItem.Id"
 (mouseleave)="hoveredFinished()" (mouseover)="hovered(fruit_vegItem.Id)"
 [style.background-image]="'url(' + fruit_vegItem.ImageURLs.FullSize + ')'">
  <div class="card__div-content">
    <p>{{fruit_vegItem.Title}}</p>
    <p>Family: {{fruit_vegItem.Family}}</p>
  </div>
</div>
